//Here we apply Sizing properties and vars.
$display1:500%;
$display2:450%;
$display3:300%;
$display4:275%;
$display5:250%;
$display6:200%;
$display7:150%;
$display8:100%;
$display9:50%;
$display10:25%;
$display11:20%;
$display12:15%;
$display13:10%;

//compiling width and height.
@mixin size ($ancho, $alto){
    width: $ancho;
    height:$alto;
}