$abril: 'Abril Fatface' 'karla', sans-serif;
$karla: 'karla', 'Abril Fatface', sans-serif;

//Mixin text format
@mixin text($align, $font, $size, $color){
    text-align: $align;
    font-family: $font;
    font-size: $size;
    color: $color;
}

/******************************************Font Style******************************************************/

/******************************************Index.html*****************************************************/
    .title{
    h1{
    @include text(center,$karla ,$display8 ,$dog-gold);
    }
        p{
            @include text(center,$karla ,$display9 ,$dog-gold);
        margin-top: 10%;
        font-size: $display8;
        color:$dog-white;
        }
    }