<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--SEO y Keywords to search engines-->
        <meta name="keywords" content="">
        <meta name="description" content="">
    
        <!--title-->
        <title>Dogllar - Seguridad para tu compañero</title>
        
        <!--Favicon-->
        <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../img/icons/favicon.ico" type="image/x-icon">
    
        <!--Google Font-->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Karla&display=swap');
        </style>
        <!--CSS Import-->
        <link rel="stylesheet" href="../css/style.css">
    </head>


<body>

    <header>
            <!--Logo-->
    <section class="title">
        <img src="../img/logos/colorlogotransparent.png" alt="Dogllar Logo" class="logo">
        </section>
    
        <!--Navbar-->
        <nav>
        <div class="navbar">
            <div class="container nav-container">
                <input class="checkbox" type="checkbox" name="" id="" />
        <!--Hamburger Lines-->
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <!--Navigation buttons-->
        <div class="menu-items">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/us.html">Nosotros</a></li>
            <li><a href="../views/gallery.html">Galeria</a></li>
            <li><a href="../views/experiences.html">Experiencias</a></li>
            <li><a href="../views/contact.html">Contacto</a></li>
        </div>
        </nav>
    </header>


<footer id="design">
        <div class="sign">
        <p>Website made by<br> Techies-webdev</p>    
        </div>
        <div class="network">
        <p><img src="../img/icons/icons8-facebook-nuevo.svg" alt="Social Network">Facebook: <a href="">Dogllar</a></p>
        <p><img src="../img/icons/icons8-instagram.svg" alt="Social Network">Instagram: <a href="">Dog.llar</a></p>
        <p><img src="../img/icons/icons8-twitter.svg" alt="Social Network">Twitter: <a href="">Dogllar</a></p>
        </div>
    
</footer>


</body>
</html>